/* Banner */

.banner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    perspective: 50rem;
    z-index: 1;

    #banner_image-click {
        display: none;

        &:checked + label > div {
            transform: rotateY(0.5turn);
        }
    }

    .banner_image {
        position: relative;
        width: 15.62rem;
        height: 15.62rem;
        transition: 1s ease-in-out;
        transform-style: preserve-3d;
        cursor: pointer;

        .card_face {
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: 1s ease-in-out;

            img {
                object-fit: cover;
                border-radius: 100%;
                width: 15.62rem;
                height: 15.62rem;
            }

            &--back {
                transform: rotateY(0.5turn);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                align-items: center;
                gap: 0.62rem;
                width: 15.62rem;
                height: 15.62rem;
                background-color: #dee2e5;
                border-radius: 100%;

                a {
                    padding: 2px;
                    align-items: center;
                }

                a span {
                    color: $dark;
                    font-size: 0.9rem;
                    font-family: "Poppins", sans-serif;
                    padding: 4px;
                    align-items: center;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .banner_text-container {
        padding: 30px;
        text-align: center;
        z-index: 1;

        h2 {
            font-size: 2.5rem;
            color: $white;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
        }

        h1 {
            font-size: 4rem;
            color: $primary;
            font-family: 'Secular One', sans-serif;
        }
    }
}

.box ul li {
	position: absolute;
	width: 2.18rem;
	height: 2.18rem;
	opacity: 0;
	background: radial-gradient($secondary, transparent, transparent);
	bottom: 0;
	left: 10vw;
	animation: animate 10s linear infinite;
    z-index: -1;

    &:nth-child(2) {
        left: 36vw;
        animation-delay: 2s;
    }

    &:nth-child(3) {
        left: 22vw;
        animation-delay: 4s;
    }

    &:nth-child(4) {
        left: 56vw;
        animation-delay: 6s;
    }

    &:nth-child(5) {
        left: 76vw;
        animation-delay: 4s;
    }

    &:nth-child(6) {
        left: 80vw;
        animation-delay: 8s;
    }
}

@keyframes animate {
	0% {
		transform: scale(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(10);
		opacity: 0;
		bottom: 100vh;
	}
}

/* Media Queries */

@media (max-width: 1000px) {
    .box {
        display: none;
    }
}

@media (max-width: 900px) {
    .banner_container .banner_text-container {
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .banner_container {
        flex-direction:column-reverse;
        gap: 3.12rem;

        .banner_text-container {
            padding: 6px;

            h2 {
                font-size: 1.5rem;
            }

            h1 {
                font-size: 2.5rem;
            }
        }
    }
}
