* {
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $dark;
}

.navbar_logo-container {
    .navbar_logo {
        font-size: 1.7rem;
        font-size: "Poppins", sans-serif!important;
        color: $white;

        &:before {
            content: "<";
            display: inline-block;
            padding: 8px;
            color: $primary;
        }

        &:after {
            content: "/>";
            display: inline-block;
            padding: 8px;
            color: $primary;
        }
    }
}

.navbar_list {
    li {
        padding: 8px;

        span {
            font-size: 1.1rem;
            font-weight: 500;
            color: $white;
        }
    }
}