/* Portfolio */

.portfolio_container {
    display: flex;
    flex-direction: column;
    gap: 5.25rem;
    margin-top: 3.12rem;
    margin-bottom: 1.25rem;
    padding-inline: 10px;
    
    .portfolio__item {
        display: flex;
        gap: 20px;
        font-size: 0.9rem;

        .portfolio__img {
            width: 100%;
            max-width: 900px;
            height: auto;
            object-fit: cover; 
            display: block;
        }

        .portfolio__description {
            height: 100%;
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            text-align: left;

            .portfolio__description-title {
                color: $primary;
                font-family: 'Secular One', sans-serif;
                font-size: 1.4rem;
                font-weight: 700;
            }

            .portfolio__description-text {
                margin: 1.25rem 0;
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
            }

            .portfolio__features {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-bottom: 1.25rem;
                color: $white;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
            
                li {
                    position: relative;
                    padding-left: 15px;
            
                    &::before {
                        content: '♦';
                        position: absolute;
                        left: 0;
                        color: #4cb1f6;
                        font-size: 1rem;
                    }
                }
            }
        }

        .buttons__container {
            display: flex;
            align-items: center;
            gap: 0.31rem;

            .button {
                display: flex;
                align-items: center;
                background: rgb(53, 50, 50);
                color: #f5f5f5;
                padding: 5px 10px;
                font-family: "Poppins", sans-serif;

                &:hover {
                    color: $primary;
                }
                
                span {
                    margin-left: 4px;
                }
            }
        }
    }
}

/* Media Queries */

@media (max-width: 1000px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 3.12rem;
        margin-top: 3.12rem;
        margin-bottom: 0;
    }
}

@media (max-width: 1000px) {
    .portfolio_container .portfolio__item {
        flex-direction: column;
        .buttons__container {
            gap: 0.31rem;
            margin: initial;
        }
    }
}
