/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Styles */
@import "./base/colors";
@import "./components/navbar";
@import "./components/banner";
@import "./components/about";
@import "./components/services";
@import "./components/portfolio";
@import "./components/contact";

